[buildout]
develop = .
parts = test python tags

[test]
recipe = zc.recipe.testrunner
eggs = zope.processlifetime

[python]
recipe = zc.recipe.egg
eggs = zope.processlifetime
interpreter = python

[tags]
recipe = z3c.recipe.tag:tags
eggs = zope.processlifetime
